name: real_world_app
description: A Flutter app to take photos and recognize images using Imagga API

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.0.4
  http: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
